.mgatos{
    display: inline;
    
}
.h1a{
    text-align: center;
}
.texto1{
    text-align: center;
}
.h2a{
    text-align: center                                                                                                                      ;
}               
.Inicio1{
     text-align: right;
}
.Inicioginger{
    text-align: right;
}

.textoinfoginger{
    display: flex;    
}
.textogatoginger{
    padding-left: 50px;
    padding-top: 75px;
}